body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}


header img {
        border: 1px solid green;
        border-radius: 50%;
        width:20%;
        

}

section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
.p {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;

}
.contact img {
    width: 5%;
    margin-bottom: -1rem;
    margin-right: 0.5rem;

}
.contact p {
    font-size:1.25rem ;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact a {
    text-decoration: none;
    cursor: pointer;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}